/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Header Styling */
header {
    color: white;
}

.header1{
    background-color: #59bc69;
    display: flex;
    justify-content:space-evenly;
    height: 60px;
    align-items: center;
}

.menu{
    display: flex;
    height:40px;
    width: 120px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}

.menu select{
    height: 40px;
    width: 90px;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
    background-color: transparent;
    border: transparent;
    font-size: 1.1rem;
    color: white;
}

.header1-buttons{
    margin-left: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header1-buttons button{
    border: none;
    height: 40px;
    background-color: transparent;
}

#custcare{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    padding: 0px 10px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
}

#pricing{
    border: 1.5px solid black;
    border-radius: 20px;
    width: 100px;
    font-size: 1.1rem;
    color: white;
}

#reg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    border: 1.5px solid black;
    border-radius: 20px;
    gap: 10px;
}

.header2{
    margin-top: 10px;
    padding-left: 30px;
    height: 150px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 140px;
    height: 140px;
    margin-right: 450px;
}

.project-name {
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-right: 350px;
}

.visit-charity-btn {
    background-color: yellow;
    color: #101110;
    padding: 10px 20px;
    border-radius: 50%;
    border: 3px solid gold;
    height: 130px;
    width: 130px;
    font-size: 1rem;
    animation: glow1 0.5s infinite alternate;
}

@keyframes glow1 {
    0% {
        box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
    }
    100% {
        box-shadow: 0 0 20px gold, 0 0 30px gold, 0 0 40px gold;
    }
}

/* Main Content Styling */
.social-links {
    display: flex;
    margin-top: 100px;
    position: fixed;
    height: 250px;
    width: 50px;
    border-radius: 10x;
}

.social-links ul {
    list-style: none;
}

.social-links ul li {
    background-color: grey;
    padding-top: 12px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
}

.social-links ul li i {
    font-size: 1.7rem;
}

#topsocial{
    border-top-right-radius: 10px;
}

#bottomsocial{
    border-bottom-right-radius: 10px;
}

main {
    text-align: center;
}

.pic-donate{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 95%;
    height: 500px;
    margin-bottom: 20px;
}

.donate-button{
    width: 400px;
    height: 200px;
    margin-left: 80px;
    margin-right: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
}

@keyframes glow2 {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow, 0 0 25px yellow;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
    }
}

.donate-button p{
    font-size: 2.3rem;
}

#donation-request-btn {
    background-color: #59bc69;
    color: black;
    width: 360px;
    height: 50px;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    animation: glow2 1.5s ease-in-out infinite alternate;
}

/* Map Section */
.map-section {
    background-color: #59bc69;
    padding: 20px;
}

.map {
    background-color: #ccc;
    height: 300px;
    width: 100%;
}

/* Donation Pictures */
.donation-pictures {
    margin: 20px 0;
}

.donation-pictures .pictures img {
    width: 30%;
    height: 370px;
    margin: 10px;
}

/* About Us */
.about-us {
    padding: 20px;
    height: 550px;
    background-color: #59bc69;
}

.about-us h1 {
    margin-bottom: 10px;
}

.about-us p {
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* Leaderboard */
.leaderboard {
    padding: 20px;
    background-color: white;
}

.leaderboard-table {
    display: flex;
    justify-content: center;
    background-color: #70b47b;
    height: 450px;
}

.leaderboard-table th{
    font-size: 1.6rem;
}

.leaderboard-table table, th,td{
    border: 1px solid black;
    width: 1600px;
    border-collapse: collapse;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
    